@model Przychodnia.Models.Home.HomeViewModel
@{
    ViewBag.Title = "Home Page";
    int i = 0;
}



<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Najlepsi!</h3>

        </div>

        <div class="panel-body">
            <div>
                <div class="flot-chart">
                    <div class="flot-chart-content" id="najlepsi"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center" style="font-size:xx-large">
    Powered by:
</div>

<div class="row">
    <div class="col-lg-2 col-md-6 col-sm-12">
        <div>
            <img class="img-responsive" src="http://www.ocalaitpros.com/wp-content/uploads/2015/02/31dfef58-1812-4523-ab35-c8bf20fcfd83.png" />
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12">
        <div>
            <img class="img-responsive" src="https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png" />
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12">
        <div>
            <img class="img-responsive" src="http://techmantr.in/wp-content/uploads/2015/12/img_5680d75c193db.png" />
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12">
        <div>
            <img class="img-responsive" src="http://www.slstutorials.com/images/untouched/Bootstrap.png" />
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12">
        <div>
            <img class="img-responsive" src="https://rascal.pl/wp-content/uploads/2014/12/postgresql_logo-555px.png" />
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12">
        <div>
            <img class="img-responsive" src="http://creative-punch.net/wp-content/uploads/2014/01/Logo-CSS3.jpg" />
        </div>
    </div>

</div>
@section scripts {
    <script type="text/javascript">

        var najlepsi =
        [
        @foreach (var lekarz in Model.NajlepsiLekarze)
{
    @:[@(i++), @lekarz.IloscPacjentow],
        }
    @{ i = 0;}
        ];
    $(function () {
        var options = {
            series: {
                bars : {show:true}
            },
            bars : {
                align: "center",
                barWidth : 0.5
            },
            xaxis: {
                ticks: [
            @foreach (var lekarz in Model.NajlepsiLekarze)
            {
                @:[@(i++),"@lekarz.Nazwisko @lekarz.Imie"],
            }
                ]
            },
            grid: {
                hoverable: true //IMPORTANT! this is needed for tooltip to work
            },
            legend: {
                show: false
            },
            tooltip: true,
            tooltipOpts: {
                content: "%x - ilość pacjentów: %y"
            }
        };

        var plotobj = $.plot($("#najlepsi"), [{
            data: najlepsi,
            label: "Lekarze z największą ilością pacjentów"
        }], options);
    });

    </script>
}