@{
    ViewBag.Title = "Home Page";
}

<div class="text-center" style="font-size:xx-large">
    Powered by:
</div>

<div class="row">
    <div class="col-lg-2 col-md-6 col-sm-12">
        <div>
            <img class="img-responsive" src="http://www.ocalaitpros.com/wp-content/uploads/2015/02/31dfef58-1812-4523-ab35-c8bf20fcfd83.png" />
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12">
        <div>
            <img class="img-responsive" src="https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png" />
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12">
        <div>
            <img class="img-responsive" src="http://techmantr.in/wp-content/uploads/2015/12/img_5680d75c193db.png" />
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12">
        <div>
            <img class="img-responsive" src="http://www.slstutorials.com/images/untouched/Bootstrap.png" />
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12">
        <div>
            <img class="img-responsive" src="https://rascal.pl/wp-content/uploads/2014/12/postgresql_logo-555px.png" />
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12">
        <div>
            <img class="img-responsive" src="http://creative-punch.net/wp-content/uploads/2014/01/Logo-CSS3.jpg" />
        </div>
    </div>

</div>