@model Przychodnia.Models.Navigation.NavigationSectionViewModel


<li>
    <a href="@Model.Url">
        @if (string.IsNullOrWhiteSpace(Model.Icon) == false)
        {
            <i class="@Model.Icon"></i>
        }

        @Model.Name
        @if (Model.HaveChilds)
        {
            <span class="fa arrow"></span>
        }
    </a>
@if (Model.HaveChilds)
{
    <ul class="nav nav-@(Model.LevelClass)-level">
        @foreach(var child in Model.Children)
        {
            @Html.DisplayFor(m => child)
        }
    </ul>
}

</li>